fire
future
Cython
jupyterlab
pyaudio
pandas
matplotlib
tqdm
webrtcvad
pyvad
seaborn
pillow
python-Levenshtein
fairseq
python_speech_features
test_tube
prefetch_generator
tfrecord
torchaudio==0.3.1
sentencepiece
ASR_metrics
pytorch_lightning==0.7.1
flask
flask_cors